{% extends 'user/partials/base.html.twig' %}
{% block title %}Confirmer votre commande{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h2>Adresse de livraison</h2>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <p>{{ userStreet }}</p>
                        <p>{{ userCP }} {{ userTown }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(formDeliveryAddress) }}
                        {{ form_row(formDeliveryAddress.address) }}
                        {{ form_row(formDeliveryAddress.cp) }}
                        {{ form_row(formDeliveryAddress.town) }}
                        <button type="submit" class="btn btn-color">Choisir une autre addresse pour la livraison</button>
                        {{ form_end(formDeliveryAddress) }}
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-5">
                <h2>Date de livraison</h2>
                <div class="card">
                    <div class="card-body">
                        <p>{{ deliveryDate | date('d/m/Y H:i:s') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-5">
                <h2>Mode de paiement</h2>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Carte de crédit
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Chéque bancaire
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 text-center">
                <a href="{{ path('pay_index') }}" class="btn btn-color" type="submit">Payer</a>
            </div>
        </div>
    </div>

{% endblock %}
